In [5]:
with open("VIA.DAT", 'r') as file:
    studentsVIA = []
    for line in file:
        studentsVIA.append(line.strip())

names = []; hours = [];
for i in range(len(studentsVIA)):
    if not i%2:
        names.append(studentsVIA[i])
    else:
        hours.append(studentsVIA[i])

totalHours = []
for i in range(len(hours)):
    h1, h2, h3 = hours[i].split(':')
    total = int(h1) + int(h2) + int(h3)
    totalHours.append(total)

for i in range(len(hours)):
    for j in range(len(hours)-1):
        if totalHours[j]<totalHours[j+1]:
            totalHours[j], totalHours[j+1] = totalHours[j+1], totalHours[j]
            names     [j], names     [j+1] = names     [j+1], names     [j]

print("{:<5}{:<30}{:<20}".format("No", "Name", "Total VIA hours"))
for i in range(len(totalHours)):
    print("{:<5}{:<30}{:<20}".format(i+1, names[i], totalHours[i]))

No   Name                          Total VIA hours
1    Chan Mall Chan                220
2    Lim Huat Chye                 201
3    Irfan Fandi                   144
4    Rain Kim                      134
5    Teo Jackson                   80
6    Poh Freddie                   80
7    Alice Tey                     75
8    Huang Eunice                  75
9    Ann Ng                        56
10   Ang Peng Siong                56
11   Gina Tong                     49
12   Ong Mary                      47
13   Goh Park Tin                  43
14   Yong Tau Foo                  43
15   Timberly Pong                 37
16   Bernard Oh                    33
17   Cheong Clement                30
18   Morgan Ahmad                  28
19   Lim Wen Hao                   26
20   Chan Jian Wei                 26
21   Wong Hui Ting                 24
22   Vanessa Lee                   24
23   Ali Mohammed                  22
24   See Saw                       20
25   Botak Jones                   19
26   Charlie Hong                  18
27   Foo Harry                     17
28   Chew Xiaoli                   17
29   Tan Siow Tow                  16
30   Tommy Chua                    16
31   Ben Soh                       13
32   Raymond Weil                  4
33   Leow Yoyo                     3
34   Yeo Janet                     2

In [8]:
def validatehours(hours):
    if hours.isdigit() and int(hours) > 0:
        return True
    return False

x = input("Enter the minimum VIA hours: ")
while not validatehours(x):
    x = input("Re-enter the minimum VIA hours: ")
lessThanX = []
for i in range(len(totalHours)):
    if totalHours[i] < int(x):
        lessThanX.append((names[i], totalHours[i]))
print()
print(len(lessThanX), "students have less than",x,'number of VIA hours.')
print()
for i in range(len(lessThanX)):
    print("{:<5}{:<30}{:<20}".format(i+1, lessThanX[i][0], lessThanX[i][1]))

Enter the minimum VIA hours: 20

10 students have less than 20 number of VIA hours.

1    Botak Jones                   19
2    Charlie Hong                  18
3    Foo Harry                     17
4    Chew Xiaoli                   17
5    Tan Siow Tow                  16
6    Tommy Chua                    16
7    Ben Soh                       13
8    Raymond Weil                  4
9    Leow Yoyo                     3
10   Yeo Janet                     2